<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team2.shopperhelper"
    android:versionCode="1"
    android:versionName="@string/codeName" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="15" />

    <uses-feature />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:description="@string/description"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Launch"
            android:label="@string/title_activity_launch" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchForStore"
            android:label="@string/searchstore_activity_lable"/>
        <activity android:name=".SearchProduct"
            android:label="@string/searchproduct_activity_lable"/>
        <activity android:name=".ShowProduct"
            android:label="@string/showproduct_activity_lable"/>
        <activity android:name=".ShowSection"
            android:label="@string/title_activity_show_section" >            
        </activity>
        <activity android:name=".ShowAisle"
            android:label="@string/aisle_activity_lable"/>
    </application>

</manifest>